*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #3347B0;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
    
}
.logo{
    height: 65%;
}
.sair{
    height: 35%;
}

main{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
}
.computador{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    gap: 60px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #3347B0;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}
.contatos{
    width: 300px;
    flex-direction: row;
    padding-left: 70px;
}
.contato{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 20px;
}
.plataformas{
    padding-right: 70px;
}
p{
    color: white;
    font-family: "Roboto", sans-serif;
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 4rem;
}
span{
    color: #3347B0;
    font-weight: 500;
}
.comp{
    width: 480px;
}
.estuda{
    padding-left: 50px;
}
.botoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
    align-items: end;
    padding-right: 70px;
    
}
.b1{
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    width: 400px;
    background-color: #3347B0;
    filter: drop-shadow(12px 12px 4px #3347B080);
    color: white;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.imagem-curso{
    height: 80px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.todosAlunos{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 400px;
    padding-right: 400px;
}
.cursoNome{
    place-self: center;
    color: #3347B0;
    padding-left: 10px;
    display: flex;
    margin-left: 80px;
    gap: 30px;
    border-radius: 16px;
}
.nomeCurso{
    font-weight: 500;
}
.alunos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 170px;
    background-color: #3347B0;
    padding-bottom: 35px;
    padding-top: 0px;
    place-content: center;
    justify-content: center;
    align-items: center;
    place-self: center;
    filter: drop-shadow(12px 12px 4px #3347B080);
}
.nomeAluno{
    font-size: 1rem;
    text-align: center;
    color: white;
}
.foto1{
    justify-self: center;
    width: 160px;
    border-radius: 700px;
}
.nome-alunoS{
    font-size:2rem;
}

.section-info-aluno {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.section-info-aluno .aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    width: 30%;
    color: #3347B0;
    padding: 5vh 3vw;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border-radius: 3px;
    height: auto;
}

.section-info-aluno .aluno img {
    border-radius: 100%;
    width: 400px;
}

.section-info-aluno .desempenho {
    display: flex;
    justify-content: center;
    gap: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    border-radius: 3px;
    padding: 11vh 2vw;
    width: 30%;
    height: auto;
}

.section-info-aluno .desempenho li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.barra {
    width: 12px;
    height: 200px;
    background-color: #f0f2f5;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.preenchimento {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.azul {
    background-color: #3347B0;
    box-shadow: 0 0 15px rgba(59, 91, 219, 0.4);
}
.texto-az{
    color: #3347B0;
}

.vermelho {
    background-color: #C11010;
    box-shadow: 0 0 15px rgba(201, 42, 42, 0.4);
}
.texto-vm{
    color: #C11010;
}

.amarelo {
    background-color: #E5B657;
    box-shadow: 0 0 15px rgba(252, 196, 25, 0.4);
}
.texto-am{
    color: #E5B657;
}