*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #3347B0;
    width: 100%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
    
}
.logo{
    height: 65%;
}
.sair{
    height: 35%;
}

main{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
}
.computador{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    gap: 60px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #3347B0;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}
.contatos{
    width: 300px;
    flex-direction: row;
    padding-left: 70px;
}
.contato{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 20px;
}
.plataformas{
    padding-right: 70px;
}
p{
    color: white;
    font-family: "Roboto", sans-serif;
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 4rem;
}
span{
    color: #3347B0;
    font-weight: 500;
}
.comp{
    width: 480px;
}
.estuda{
    padding-left: 50px;
}
.botoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
    align-items: end;
    padding-right: 70px;
    
}
.b1{
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    width: 400px;
    background-color: #3347B0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    color: white;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.imagem-curso{
    height: 80px;
}
